{% extends 'shared/base.html' %}

{% block content %}


	<div class="home-page-section">
		<div class="home-page-container container">
            {% for a in articles_list %}
                <div class="article-card">
                    <h1 class="article-title">{{ a.title }}</h1>
                    <img class="article-image" src="{{ a.image_url }}">
                    <p>{{ a.description }}</p>
                    <span class="source">{{ article.source.name }}</span>
                </div>
            {% endfor %}

		</div>
	</div>
{% endblock%}